<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>There was an issue with finding the {{error}} page you are looking for.</p>
</body>

{{>footer}}

</html>